In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
path = 'C:\\Users\\marim\\Desktop\\summer 2024 projects\\internship 2024\\neural network part\\'
# C:\Users\marim\Desktop\summer 2024 projects\internship 2024\neural network part

In [ ]:
df_v11 = pd.read_csv(path + 'V11__cr.csv')
df_h11 = pd.read_csv(path + 'H11__cr.csv')
df_v10 = pd.read_csv(path + 'V10__cr.csv')

In [ ]:
df_v12 = pd.read_csv(path + 'V12__cr.csv')
df_v12

In [11]:
df_v10

,1,2,3,4,5,6,7,8,9
0,4.187705,3.549565,-0.304344,0.304344,-3.549565,9.999992,4.999997,2.292817,1.071800
1,4.890228,9.999994,6.130429,4.304342,1.877568,4.330296,0.976331,-1.906075,-4.464097
2,2.612513,0.703518,-0.608693,0.608693,-0.703518,4.395316,9.999991,4.585632,2.143599
3,2.524698,4.294196,9.999991,6.956512,3.015072,-0.260075,-0.591714,-1.104971,-1.456814
4,2.919867,-1.470990,-1.217389,1.217389,1.470990,2.158646,4.911238,9.999992,4.599373
5,4.061467,3.015072,6.956512,9.999991,4.294196,0.260075,0.591714,1.104971,1.456814
6,5.109766,-4.572861,-2.130432,2.130432,4.572861,1.339401,3.047335,6.104967,9.999994
7,5.812290,1.877568,4.304342,6.130429,9.999994,-4.330296,-0.976331,1.906075,4.464097

In [5]:
df_cor = pd.read_csv(path + '__cr.csv')

In [6]:
df_h11

,1,2,3,4,5,6,7,8,9
0,5.099072,4.444441,1.448691,-1.853830,-4.479163,9.999994,6.092522,3.169630,1.542939
1,4.623512,9.999993,5.714281,2.352941,1.041667,4.075689,1.262158,-1.262158,-4.075689
2,3.084542,1.055555,0.221328,-0.766487,-1.302082,4.672486,9.999992,5.051004,2.430857
3,2.450462,3.944443,9.999990,4.117645,1.822917,0.917030,0.182681,-0.182681,-0.917030
4,3.361953,-1.055555,-0.221328,0.766487,1.302082,2.430857,5.051004,9.999992,4.672486
5,2.727872,1.833333,4.647883,9.999991,4.427081,-1.324599,-0.714115,0.714115,1.324599
6,5.376482,-4.444441,-1.448691,1.853830,4.479163,1.542939,3.169630,6.092522,9.999994
7,4.900922,1.111111,2.816899,6.060601,9.999994,-4.381365,-1.660734,1.660734,4.381365

In [7]:
df_v11

,1,2,3,4,5,6,7,8,9
0,4.623512,4.075689,1.262158,-1.262158,-4.075689,9.999993,5.714281,2.352941,1.041667
1,5.099072,9.999994,6.092522,3.169630,1.542939,4.444441,1.448691,-1.853830,-4.479163
2,2.450462,0.917030,0.182681,-0.182681,-0.917030,3.944443,9.999990,4.117645,1.822917
3,3.084542,4.672486,9.999992,5.051004,2.430857,1.055555,0.221328,-0.766487,-1.302082
4,2.727872,-1.324599,-0.714115,0.714115,1.324599,1.833333,4.647883,9.999991,4.427081
5,3.361953,2.430857,5.051004,9.999992,4.672486,-1.055555,-0.221328,0.766487,1.302082
6,4.900922,-4.381365,-1.660734,1.660734,4.381365,1.111111,2.816899,6.060601,9.999994
7,5.376482,1.542939,3.169630,6.092522,9.999994,-4.444441,-1.448691,1.853830,4.479163

*Rows* - rows + columns voltage differences
0 - 0 0 3 0
1 - 0 0 0 3
2 - 0 1 3 1
3 - 1 0 1 3
4 - 0 2 3 2
5 - 2 0 2 3
6 - 0 3 3 3
7 - 3 0 3 3


*Columns* - different voltage-gnd start-end point
1 - 0 0 3 3 
2 - 0 0 0 3
3 - 1 0 1 3
4 - 2 0 2 3
5 - 3 0 3 3 
6 - 0 0 3 0
7 - 0 1 3 1
8 - 0 2 3 2
9-  0 3 3 3

In [8]:
df_cor

,1,2,3,4,5,6,7,8,9
0,4.999997,4.254141,1.510790,-1.510790,-4.254141,9.999994,6.115103,3.093523,1.491712
1,4.999997,9.999994,6.115103,3.093523,1.491712,4.254141,1.510790,-1.510790,-4.254141
2,3.076921,1.160220,0.503597,-0.503597,-1.160220,4.696130,9.999992,4.964025,2.375689
3,3.076921,4.696130,9.999992,4.964025,2.375689,1.160220,0.503597,-0.503597,-1.160220
4,3.076921,-1.160220,-0.503597,0.503597,1.160220,2.375689,4.964025,9.999992,4.696130
5,3.076921,2.375689,4.964025,9.999992,4.696130,-1.160220,-0.503597,0.503597,1.160220
6,4.999997,-4.254141,-1.510790,1.510790,4.254141,1.491712,3.093523,6.115103,9.999994
7,4.999997,1.491712,3.093523,6.115103,9.999994,-4.254141,-1.510790,1.510790,4.254141

In [20]:
print(df_cor - df_v11)

          1             2             3             4             5  \
0  0.376485  1.784518e-01  2.486318e-01 -2.486318e-01 -1.784518e-01
1 -0.099075  2.758401e-08  2.258119e-02 -7.610687e-02 -5.122748e-02
2  0.626459  2.431898e-01  3.209154e-01 -3.209154e-01 -2.431898e-01
3 -0.007621  2.364347e-02  4.683497e-08 -8.697927e-02 -5.516806e-02
4  0.349049  1.643783e-01  2.105186e-01 -2.105186e-01 -1.643783e-01
5 -0.285031 -5.516806e-02 -8.697927e-02  4.683497e-08  2.364347e-02
6  0.099075  1.272243e-01  1.499437e-01 -1.499437e-01 -1.272243e-01
7 -0.376485 -5.122748e-02 -7.610687e-02  2.258119e-02  2.758401e-08

              6         7             8             9
0  5.899305e-07  0.400822  7.405821e-01  4.500449e-01
1 -1.903000e-01  0.062099  3.430400e-01  2.250224e-01
2  7.516864e-01  0.000002  8.463796e-01  5.527726e-01
3  1.046652e-01  0.282268  2.628905e-01  1.418620e-01
4  5.423560e-01  0.316141  6.411959e-07  2.690487e-01
5 -1.046652e-01 -0.282268 -2.628905e-01 -1.418620e-01
6  3.806007e-01  0.276623  5.450209e-02  1.663208e-07
7  1.903000e-01 -0.062099 -3.430400e-01 -2.250224e-01