Cleaning data

In [2]:
import pandas as pd

In [3]:
path = 'C:\\Users\\marim\\Desktop\\summer 2024 projects\\internship 2024\\data\\'

df= pd.read_csv(path + "correct.csv") # read from csv FileExistsError
df

   node1 node2   voltage1  voltage2
0    N00   N01  10.000000  7.307694
1    N00   N10  10.000000  7.307694
2    N01   N02   7.307694  5.769233
3    N01   N11   7.307694  6.153848
4    N02   N03   5.769233  5.000003
5    N02   N12   5.769233  5.000003
6    N03   N13   5.000003  4.230772
7    N10   N11   7.307694  6.153848
8    N10   N20   7.307694  5.769233
9    N11   N12   6.153848  5.000003
10   N11   N21   6.153848  5.000003
11   N12   N13   5.000003  4.230772
12   N12   N22   5.000003  3.846157
13   N13   N23   4.230772  2.692312
14   N20   N21   5.769233  5.000003
15   N20   N30   5.769233  5.000003
16   N21   N22   5.000003  3.846157
17   N21   N31   5.000003  4.230772
18   N22   N23   3.846157  2.692312
19   N22   N32   3.846157  2.692312
20   N23   N33   2.692312  0.000005
21   N30   N31   5.000003  4.230772
22   N31   N32   4.230772  2.692312
23   N32   N33   2.692312  0.000005

In [ ]:
n = 4
A = 65
def node_name(i, j):
    return f'N{i}{j}'

df_compare['letters'] = ''

def adding_letters(column, ch, i, j):
    for ind in df_compare.index:
        if(df_compare[column][ind] == f'N{i}{j}'):
            c = df_compare['letters'][ind]
            df_compare.loc[ind, 'letters'] = c + ch

def giving_loc(i, j):
    adding_letters('node1', ch, i, j)
    adding_letters('node2', ch, i, j)
    
reverse = 0
for c in range(ord('A'), ord('A') + 4 * (n-1)):
    ch = chr(c)
    # print(ch, c - A)
    c = c - A
    # A B C
    # D E F
    # G H I
    # J K L
    '''
    Lets have 4 groups of letters
    '''
    if(int(c/3) == 0):
        giving_loc(0, c)
        # print(0, c)
    if(int(c/3) == 1):
        giving_loc(c - n + 1, 3)
        # print(c - n + 1, 3)
    if(int(c/3) == 2):
        giving_loc(3, c - n + 1 + reverse)
        # print(3, c - n + 1 + reverse)
        reverse -= 2
        # print(reverse)
    if(int(c/3) == 3):
        giving_loc(c + reverse, 0)
        # print(c + reverse, 0, c)
        reverse -= 2
        # print(reverse)
df_compare

In [ ]:
ch = 'A'
n = 4
def node_name(i, j):
    return f'N{i}{j}'

df_compare['letters'] = ''

def adding_letters(column, ch, i, j):
    for ind in df_compare.index:
        if(df_compare[column][ind] == f'N{i}{j}'):
            c = df_compare['letters'][ind]
            df_compare.loc[ind, 'letters'] = c + ch

for j in range(n):
    adding_letters('node1', ch, 0, j)
    adding_letters('node2', ch, 0, j)
    ch = chr(ord(ch) + 1)
    print(0, j)

for i in range(1, n):
    adding_letters('node1', ch, i, 3)
    adding_letters('node2', ch, i, 3)
    ch = chr(ord(ch) + 1)
    print(i, 3)

for j in range(n-2, -1, -1):
    adding_letters('node1', ch, 3, j)
    adding_letters('node2', ch, 3, j)
    ch = chr(ord(ch) + 1)
    print(3, j)

for i in range(n-2, 0, -1):
    adding_letters('node1', ch, i, 0)
    adding_letters('node2', ch, i, 0)
    ch = chr(ord(ch) + 1)
    print(i, 0)

df_compare

In [19]:
n = 4
# Function to get node name
def node_name(i, j):
    return f'N{i}{j}'
    
data = []

for i in range(n):
    for j in range(n):
        node = node_name(i, j)
        print('Node {}'.format(node))
        data.append([node])

df = pd.DataFrame(data, columns=['node'])

Node N00
Node N01
Node N02
Node N03
Node N10
Node N11
Node N12
Node N13
Node N20
Node N21
Node N22
Node N23
Node N30
Node N31
Node N32
Node N33

In [29]:
n = 5
def loop(ib,ie,ir,jb,je,jr):
    for i in range(ib, ie, ir):
        for j in range(jb, je, jr):
            print(i, j)
loop(0, 1, 1, 0, n-1, 1) # top line
print()
loop(0, n-1, 1, n-1, n, 1) # right line
print()
loop(n-1, n, 1, n-1, 0, -1) # bottom line
print()
loop(n-1, 0, -1, 0, 1, 1) # right line

0 0
0 1
0 2
0 3

0 4
1 4
2 4
3 4

4 4
4 3
4 2
4 1

4 0
3 0
2 0
1 0

In [ ]:
n = 4
def loop(ib,ie,ir,jb,je,jr):
    for i in range(ib, ie, ir):
        for j in range(jb, je, jr):