Cleaning data

In [1]:
import pandas as pd

In [2]:
path = 'C:\\Users\\marim\\Desktop\\summer 2024 projects\\internship 2024\\data\\'

df= pd.read_csv(path + "correct.csv") # read from csv FileExistsError
df

   node1 node2   voltage1  voltage2
0    N00   N01  10.000000  7.307694
1    N00   N10  10.000000  7.307694
2    N01   N02   7.307694  5.769233
3    N01   N11   7.307694  6.153848
4    N02   N03   5.769233  5.000003
5    N02   N12   5.769233  5.000003
6    N03   N13   5.000003  4.230772
7    N10   N11   7.307694  6.153848
8    N10   N20   7.307694  5.769233
9    N11   N12   6.153848  5.000003
10   N11   N21   6.153848  5.000003
11   N12   N13   5.000003  4.230772
12   N12   N22   5.000003  3.846157
13   N13   N23   4.230772  2.692312
14   N20   N21   5.769233  5.000003
15   N20   N30   5.769233  5.000003
16   N21   N22   5.000003  3.846157
17   N21   N31   5.000003  4.230772
18   N22   N23   3.846157  2.692312
19   N22   N32   3.846157  2.692312
20   N23   N33   2.692312  0.000005
21   N30   N31   5.000003  4.230772
22   N31   N32   4.230772  2.692312
23   N32   N33   2.692312  0.000005

In [3]:
n = 5
def loop(ib,ie,ir,jb,je,jr):
    for i in range(ib, ie, ir):
        for j in range(jb, je, jr):
            print(i, j)
loop(0, 1, 1, 0, n-1, 1) # top line
print()
loop(0, n-1, 1, n-1, n, 1) # right line
print()
loop(n-1, n, 1, n-1, 0, -1) # bottom line
print()
loop(n-1, 0, -1, 0, 1, 1) # right line

0 0
0 1
0 2
0 3

0 4
1 4
2 4
3 4

4 4
4 3
4 2
4 1

4 0
3 0
2 0
1 0

In [4]:
def node_name(i, j):
    return f'N{i}{j}'

In [5]:
n = 4
ch = 'A'

data = []
def loop(ib,ie,ir,jb,je,jr):
    global ch
    for i in range(ib, ie, ir):
        for j in range(jb, je, jr):
            node = node_name(i, j)
            print('Node {}: {}'.format(node, ch))
            data.append([node, node, ch, ch])
            ch = chr(ord(ch) + 1)
            
loop(0, 1, 1, 0, n-1, 1) # top line
print()
loop(0, n-1, 1, n-1, n, 1) # right line
print()
loop(n-1, n, 1, n-1, 0, -1) # bottom line
print()
loop(n-1, 0, -1, 0, 1, 1) # right line

df_right = pd.DataFrame(data, columns=['node1', 'node2', 'letters1', 'letters2'])

Node N00: A
Node N01: B
Node N02: C

Node N03: D
Node N13: E
Node N23: F

Node N33: G
Node N32: H
Node N31: I

Node N30: J
Node N20: K
Node N10: L

In [6]:
df_right

   node1 node2 letters1 letters2
0    N00   N00        A        A
1    N01   N01        B        B
2    N02   N02        C        C
3    N03   N03        D        D
4    N13   N13        E        E
5    N23   N23        F        F
6    N33   N33        G        G
7    N32   N32        H        H
8    N31   N31        I        I
9    N30   N30        J        J
10   N20   N20        K        K
11   N10   N10        L        L

In [7]:
df

   node1 node2   voltage1  voltage2
0    N00   N01  10.000000  7.307694
1    N00   N10  10.000000  7.307694
2    N01   N02   7.307694  5.769233
3    N01   N11   7.307694  6.153848
4    N02   N03   5.769233  5.000003
5    N02   N12   5.769233  5.000003
6    N03   N13   5.000003  4.230772
7    N10   N11   7.307694  6.153848
8    N10   N20   7.307694  5.769233
9    N11   N12   6.153848  5.000003
10   N11   N21   6.153848  5.000003
11   N12   N13   5.000003  4.230772
12   N12   N22   5.000003  3.846157
13   N13   N23   4.230772  2.692312
14   N20   N21   5.769233  5.000003
15   N20   N30   5.769233  5.000003
16   N21   N22   5.000003  3.846157
17   N21   N31   5.000003  4.230772
18   N22   N23   3.846157  2.692312
19   N22   N32   3.846157  2.692312
20   N23   N33   2.692312  0.000005
21   N30   N31   5.000003  4.230772
22   N31   N32   4.230772  2.692312
23   N32   N33   2.692312  0.000005

In [8]:
result = pd.merge(df, df_right, how="outer", on=["node1", "node2"])
result

   node1 node2   voltage1  voltage2 letters1 letters2
0    N00   N00        NaN       NaN        A        A
1    N00   N01  10.000000  7.307694      NaN      NaN
2    N00   N10  10.000000  7.307694      NaN      NaN
3    N01   N01        NaN       NaN        B        B
4    N01   N02   7.307694  5.769233      NaN      NaN
5    N01   N11   7.307694  6.153848      NaN      NaN
6    N02   N02        NaN       NaN        C        C
7    N02   N03   5.769233  5.000003      NaN      NaN
8    N02   N12   5.769233  5.000003      NaN      NaN
9    N03   N03        NaN       NaN        D        D
10   N03   N13   5.000003  4.230772      NaN      NaN
11   N10   N10        NaN       NaN        L        L
12   N10   N11   7.307694  6.153848      NaN      NaN
13   N10   N20   7.307694  5.769233      NaN      NaN
14   N11   N12   6.153848  5.000003      NaN      NaN
15   N11   N21   6.153848  5.000003      NaN      NaN
16   N12   N13   5.000003  4.230772      NaN      NaN
17   N12   N22   5.000003  3.846157      NaN      NaN
18   N13   N13        NaN       NaN        E        E
19   N13   N23   4.230772  2.692312      NaN      NaN
20   N20   N20        NaN       NaN        K        K
21   N20   N21   5.769233  5.000003      NaN      NaN
22   N20   N30   5.769233  5.000003      NaN      NaN
23   N21   N22   5.000003  3.846157      NaN      NaN
24   N21   N31   5.000003  4.230772      NaN      NaN
25   N22   N23   3.846157  2.692312      NaN      NaN
26   N22   N32   3.846157  2.692312      NaN      NaN
27   N23   N23        NaN       NaN        F        F
28   N23   N33   2.692312  0.000005      NaN      NaN
29   N30   N30        NaN       NaN        J        J
30   N30   N31   5.000003  4.230772      NaN      NaN
31   N31   N31        NaN       NaN        I        I
32   N31   N32   4.230772  2.692312      NaN      NaN
33   N32   N32        NaN       NaN        H        H
34   N32   N33   2.692312  0.000005      NaN      NaN
35   N33   N33        NaN       NaN        G        G

In [9]:

result = pd.merge(df, df_right, how="outer", on="node1")
result

   node1 node2_x   voltage1  voltage2 node2_y letters1 letters2
0    N00     N01  10.000000  7.307694     N00        A        A
1    N00     N10  10.000000  7.307694     N00        A        A
2    N01     N02   7.307694  5.769233     N01        B        B
3    N01     N11   7.307694  6.153848     N01        B        B
4    N02     N03   5.769233  5.000003     N02        C        C
5    N02     N12   5.769233  5.000003     N02        C        C
6    N03     N13   5.000003  4.230772     N03        D        D
7    N10     N11   7.307694  6.153848     N10        L        L
8    N10     N20   7.307694  5.769233     N10        L        L
9    N11     N12   6.153848  5.000003     NaN      NaN      NaN
10   N11     N21   6.153848  5.000003     NaN      NaN      NaN
11   N12     N13   5.000003  4.230772     NaN      NaN      NaN
12   N12     N22   5.000003  3.846157     NaN      NaN      NaN
13   N13     N23   4.230772  2.692312     N13        E        E
14   N20     N21   5.769233  5.000003     N20        K        K
15   N20     N30   5.769233  5.000003     N20        K        K
16   N21     N22   5.000003  3.846157     NaN      NaN      NaN
17   N21     N31   5.000003  4.230772     NaN      NaN      NaN
18   N22     N23   3.846157  2.692312     NaN      NaN      NaN
19   N22     N32   3.846157  2.692312     NaN      NaN      NaN
20   N23     N33   2.692312  0.000005     N23        F        F
21   N30     N31   5.000003  4.230772     N30        J        J
22   N31     N32   4.230772  2.692312     N31        I        I
23   N32     N33   2.692312  0.000005     N32        H        H
24   N33     NaN        NaN       NaN     N33        G        G

In [10]:
n = 4
ch = 'A'

#df.loc[(df['ID1']==900000498)&(df['ID2']==900022133), 'Proximity']
#print(df1.loc[(900000498,900022133), 'Proximity'])

data = []
def loop_(ib,ie,ir,jb,je,jr):
    global ch
    for i in range(ib, ie, ir):
        for j in range(jb, je, jr):
            node = node_name(i, j)
            print('Node {}: {}'.format(node, ch))
            data.append([node, ch])
            ch = chr(ord(ch) + 1)
            
loop(0, 1, 1, 0, n-1, 1) # top line
print()
loop(0, n-1, 1, n-1, n, 1) # right line
print()
loop(n-1, n, 1, n-1, 0, -1) # bottom line
print()
loop(n-1, 0, -1, 0, 1, 1) # right line

df_right = pd.DataFrame(data, columns=['node1', 'letters'])

Node N00: A
Node N01: B
Node N02: C

Node N03: D
Node N13: E
Node N23: F

Node N33: G
Node N32: H
Node N31: I

Node N30: J
Node N20: K
Node N10: L

ValueError: 2 columns passed, passed data had 4 columns