In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\marim\Desktop\summer 2024 projects\internship 2024\trial_data.csv") # read from csv FileExistsError

In [3]:
df

   node1 node2   voltage1  voltage2
0    N00   N01  10.000000  7.100398
1    N00   N10  10.000000  7.258918
2    N01   N02   7.100398  5.627480
3    N01   N11   7.100398  5.673715
4    N02   N03   5.627480  4.900928
5    N02   N12   5.627480  4.881113
6    N03   N13   4.900928  4.174376
7    N10   N11   7.258918  5.673715
8    N10   N20   7.258918  6.103040
9    N11   N12   5.673715  4.881113
10   N11   N21   5.673715  5.673713
11   N12   N13   4.881113  4.174376
12   N12   N22   4.881113  4.048880
13   N13   N23   4.174376  2.741087
14   N20   N21   6.103040  5.673713
15   N20   N30   6.103040  5.376488
16   N21   N22   5.673713  4.048880
17   N21   N31   5.673713  4.649936
18   N22   N23   4.048880  2.741087
19   N22   N32   4.048880  2.899607
20   N23   N33   2.741087  0.000006
21   N30   N31   5.376488  4.649936
22   N31   N32   4.649936  2.899607
23   N32   N33   2.899607  0.000006

In [4]:
df["voltage difference"] = df["voltage1"] - df["voltage2"]

In [5]:
# df.drop(columns=['voltage1'])
df = df.drop(columns=['voltage1', 'voltage2'])
df

   node1 node2  voltage difference
0    N00   N01            2.899602
1    N00   N10            2.741082
2    N01   N02            1.472919
3    N01   N11            1.426683
4    N02   N03            0.726552
5    N02   N12            0.746367
6    N03   N13            0.726552
7    N10   N11            1.585203
8    N10   N20            1.155879
9    N11   N12            0.792603
10   N11   N21            0.000002
11   N12   N13            0.706737
12   N12   N22            0.832233
13   N13   N23            1.433289
14   N20   N21            0.429327
15   N20   N30            0.726552
16   N21   N22            1.624833
17   N21   N31            1.023777
18   N22   N23            1.307793
19   N22   N32            1.149273
20   N23   N33            2.741082
21   N30   N31            0.726552
22   N31   N32            1.750329
23   N32   N33            2.899602

In [6]:
df_correct = pd.read_csv(r"C:\Users\marim\Desktop\summer 2024 projects\internship 2024\correct data.csv") # read from csv FileExistsError

In [7]:
df_correct["voltage difference"] = df_correct["voltage1"] - df_correct["voltage2"]

In [8]:
# df.drop(columns=['voltage1'])
df_correct = df_correct.drop(columns=['voltage1', 'voltage2'])
df_correct

   node1 node2  voltage difference
0    N00   N01            2.692306
1    N00   N10            2.692306
2    N01   N02            1.538461
3    N01   N11            1.153846
4    N02   N03            0.769230
5    N02   N12            0.769230
6    N03   N13            0.769230
7    N10   N11            1.153846
8    N10   N20            1.538461
9    N11   N12            1.153846
10   N11   N21            1.153846
11   N12   N13            0.769230
12   N12   N22            1.153846
13   N13   N23            1.538461
14   N20   N21            0.769230
15   N20   N30            0.769230
16   N21   N22            1.153846
17   N21   N31            0.769230
18   N22   N23            1.153846
19   N22   N32            1.153846
20   N23   N33            2.692306
21   N30   N31            0.769230
22   N31   N32            1.538461
23   N32   N33            2.692306

In [9]:
broken_column = df['voltage difference']
broken_column

0     2.899602
1     2.741082
2     1.472919
3     1.426683
4     0.726552
5     0.746367
6     0.726552
7     1.585203
8     1.155879
9     0.792603
10    0.000002
11    0.706737
12    0.832233
13    1.433289
14    0.429327
15    0.726552
16    1.624833
17    1.023777
18    1.307793
19    1.149273
20    2.741082
21    0.726552
22    1.750329
23    2.899602
Name: voltage difference, dtype: float64

In [10]:
df_compare = df_correct.assign(brokenRV11=pd.Series(broken_column).values)
df_compare['letters'] = ''
df_compare

   node1 node2  voltage difference  brokenRV11 letters
0    N00   N01            2.692306    2.899602
1    N00   N10            2.692306    2.741082
2    N01   N02            1.538461    1.472919
3    N01   N11            1.153846    1.426683
4    N02   N03            0.769230    0.726552
5    N02   N12            0.769230    0.746367
6    N03   N13            0.769230    0.726552
7    N10   N11            1.153846    1.585203
8    N10   N20            1.538461    1.155879
9    N11   N12            1.153846    0.792603
10   N11   N21            1.153846    0.000002
11   N12   N13            0.769230    0.706737
12   N12   N22            1.153846    0.832233
13   N13   N23            1.538461    1.433289
14   N20   N21            0.769230    0.429327
15   N20   N30            0.769230    0.726552
16   N21   N22            1.153846    1.624833
17   N21   N31            0.769230    1.023777
18   N22   N23            1.153846    1.307793
19   N22   N32            1.153846    1.149273
20   N23   N33            2.692306    2.741082
21   N30   N31            0.769230    0.726552
22   N31   N32            1.538461    1.750329
23   N32   N33            2.692306    2.899602

In [11]:
'''
Node N01, N00:  2.9 V <-- AB -- i
Node N02, N01:  1.5 V <-- BC -- s
Node N03, N02:  0.7 V <-- CD -- d
Node N13, N03:  0.7 V <-- DE -- d
Node N23, N13:  1.4 V <-- EF -- d
Node N33, N23:  2.7 V <-- FG -- s
Node N33, N32:  2.9 V <-- GH -- i
Node N32, N31:  1.8 V <-- HI -- i
Node N31, N30:  0.7 V <-- IJ -- d
Node N30, N20:  0.7 V <-- JK -- d
Node N20, N10:  1.2 V <-- KL -- d
Node N10, N00:  2.7 V <-- LA -- s
'''

'\nNode N01, N00:  2.9 V <-- AB -- i\nNode N02, N01:  1.5 V <-- BC -- s\nNode N03, N02:  0.7 V <-- CD -- d\nNode N13, N03:  0.7 V <-- DE -- d\nNode N23, N13:  1.4 V <-- EF -- d\nNode N33, N23:  2.7 V <-- FG -- s\nNode N33, N32:  2.9 V <-- GH -- i\nNode N32, N31:  1.8 V <-- HI -- i\nNode N31, N30:  0.7 V <-- IJ -- d\nNode N30, N20:  0.7 V <-- JK -- d\nNode N20, N10:  1.2 V <-- KL -- d\nNode N10, N00:  2.7 V <-- LA -- s\n'

In [32]:
# # Function to get node name
# def node_name(i, j):
#     return f'N{i}{j}'

# n = 4

# for i in range(n):
#     for j in range(n):
#         # Horizontal resistors
#         if j < n - 1:
#             if (i >= 1 and i <= n - 2):
#                 print('h', i, j)
#                 df_compare = df_compare.drop(df_compare[(df_compare['node1'] == f'H{i}{j}') & (df_compare['node2'] == f'H{i}{j}')].index)
#         # Vertical resistors
#         if i < n - 1:
#             if (j >= 1 and j <= n - 2):
#                 print('v', i, j)



# # df_compare[(df_compare['node1'] == 'N00') & (df_compare['node2'] == 'N01')]['letters'] = 'AB'
# # df_compare = df_compare.drop(df_compare[(df_compare['node1'] == 'N00') & (df_compare['node2'] == 'N10')].index)
# # df_compare = df_compare.drop(df_compare[(df_compare['node1'] == 'N00') & (df_compare['node2'] == 'N10')].index)
# # df_compare = df_compare.drop(df_compare[(df_compare['node1'] == 'N00') & (df_compare['node2'] == 'N10')].index)
# # df_compare

In [60]:
ch = 'A'
n = 4
def node_name(i, j):
    return f'N{i}{j}'

df_compare['letters'] = ''

for j in range(n):
    for ind in df_compare.index:
        if(df_compare['node1'][ind] == f'N{0}{j}'):
            c = df_compare['letters'][ind]
            df_compare.loc[ind, 'letters'] = c + ch
    for ind in df_compare.index:
        if(df_compare['node2'][ind] == f'N{0}{j}'):
            c = df_compare['letters'][ind]
            df_compare.loc[ind, 'letters'] = c + ch
    ch = chr(ord(ch) + 1)

for i in range(1, n):
    print(i, 3)
    for ind in df_compare.index:
        if(df_compare['node1'][ind] == f'N{i}{3}'):
            c = df_compare['letters'][ind]
            df_compare.loc[ind, 'letters'] = c + ch
    for ind in df_compare.index:
        if(df_compare['node2'][ind] == f'N{i}{3}'):
            c = df_compare['letters'][ind]
            df_compare.loc[ind, 'letters'] = c + ch
    ch = chr(ord(ch) + 1)

for j in range(n-2, -1, -1):
    # print(3, j)
    for ind in df_compare.index:
        if(df_compare['node1'][ind] == f'N{3}{j}'):
            c = df_compare['letters'][ind]
            df_compare.loc[ind, 'letters'] = c + ch
            # print(ch)
    for ind in df_compare.index:
        if(df_compare['node2'][ind] == f'N{3}{j}'):
            c = df_compare['letters'][ind]
            df_compare.loc[ind, 'letters'] = c + ch
            # print(ch)
    ch = chr(ord(ch) + 1)

for i in range(n-2, 0, -1):
    # print(3, j)
    for ind in df_compare.index:
        if(df_compare['node1'][ind] == f'N{i}{0}'):
            c = df_compare['letters'][ind]
            df_compare.loc[ind, 'letters'] = c + ch
            # print(ch)
    for ind in df_compare.index:
        if(df_compare['node2'][ind] == f'N{i}{0}'):
            c = df_compare['letters'][ind]
            df_compare.loc[ind, 'letters'] = c + ch
            # print(ch)
    ch = chr(ord(ch) + 1)

df_compare

1 3
2 3
3 3

   node1 node2  voltage difference  brokenRV11 letters
0    N00   N01            2.692306    2.899602      AB
1    N00   N10            2.692306    2.741082      AL
2    N01   N02            1.538461    1.472919      BC
3    N01   N11            1.153846    1.426683       B
4    N02   N03            0.769230    0.726552      CD
5    N02   N12            0.769230    0.746367       C
6    N03   N13            0.769230    0.726552      DE
7    N10   N11            1.153846    1.585203       L
8    N10   N20            1.538461    1.155879      KL
9    N11   N12            1.153846    0.792603
10   N11   N21            1.153846    0.000002
11   N12   N13            0.769230    0.706737       E
12   N12   N22            1.153846    0.832233
13   N13   N23            1.538461    1.433289      EF
14   N20   N21            0.769230    0.429327       K
15   N20   N30            0.769230    0.726552      JK
16   N21   N22            1.153846    1.624833
17   N21   N31            0.769230    1.023777       I
18   N22   N23            1.153846    1.307793       F
19   N22   N32            1.153846    1.149273       H
20   N23   N33            2.692306    2.741082      FG
21   N30   N31            0.769230    0.726552      IJ
22   N31   N32            1.538461    1.750329      HI
23   N32   N33            2.692306    2.899602      GH

In [69]:
ch = 'A'
n = 4
def node_name(i, j):
    return f'N{i}{j}'

df_compare['letters'] = ''

def adding_letters(column, ch, i, j):
    for ind in df_compare.index:
        if(df_compare[column][ind] == f'N{i}{j}'):
            c = df_compare['letters'][ind]
            df_compare.loc[ind, 'letters'] = c + ch

for j in range(n):
    adding_letters('node1', ch, 0, j)
    adding_letters('node2', ch, 0, j)
    ch = chr(ord(ch) + 1)
    print(0, j)

for i in range(1, n):
    adding_letters('node1', ch, i, 3)
    adding_letters('node2', ch, i, 3)
    ch = chr(ord(ch) + 1)
    print(i, 3)

for j in range(n-2, -1, -1):
    adding_letters('node1', ch, 3, j)
    adding_letters('node2', ch, 3, j)
    ch = chr(ord(ch) + 1)
    print(3, j)

for i in range(n-2, 0, -1):
    adding_letters('node1', ch, i, 0)
    adding_letters('node2', ch, i, 0)
    ch = chr(ord(ch) + 1)
    print(i, 0)

df_compare

0 0
0 1
0 2
0 3
1 3
2 3
3 3
3 3
3 3
3 3

   node1 node2  voltage difference  brokenRV11 letters
0    N00   N01            2.692306    2.899602      AB
1    N00   N10            2.692306    2.741082       A
2    N01   N02            1.538461    1.472919      BC
3    N01   N11            1.153846    1.426683       B
4    N02   N03            0.769230    0.726552      CD
5    N02   N12            0.769230    0.746367       C
6    N03   N13            0.769230    0.726552      DE
7    N10   N11            1.153846    1.585203
8    N10   N20            1.538461    1.155879
9    N11   N12            1.153846    0.792603
10   N11   N21            1.153846    0.000002
11   N12   N13            0.769230    0.706737       E
12   N12   N22            1.153846    0.832233
13   N13   N23            1.538461    1.433289      EF
14   N20   N21            0.769230    0.429327
15   N20   N30            0.769230    0.726552       J
16   N21   N22            1.153846    1.624833
17   N21   N31            0.769230    1.023777       I
18   N22   N23            1.153846    1.307793       F
19   N22   N32            1.153846    1.149273       H
20   N23   N33            2.692306    2.741082      FG
21   N30   N31            0.769230    0.726552      IJ
22   N31   N32            1.538461    1.750329      HI
23   N32   N33            2.692306    2.899602      GH